/JavaIntro/Theory/JavaApplication10/nbproject/private/
/JavaIntro/Theory/Theory/nbproject/private/
/JavaIntro/Theory/nbproject/private/
/JavaIntro/Theory/Theory/build/
/DesafioGrupal/nbproject/private/
/JUnit/TestJUnit/nbproject/private/
/JUnit/TestJUnit/build/
/JUnit/CalculadoraTestUnit/nbproject/private/
/JUnit/CalculadoraTestUnit/dist/
/JUnit/CalculadoraTestUnit/build/
/JUnit/Exercises/RandomNumberGenerator/nbproject/private/
/JUnit/Exercises/Exercises/nbproject/private/
/JUnit/Exercises/Exercises/build/